<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <%= form_with(model: [ @checklist, @audit, @audit.answers.build ], local: true) do |form| %>
        <p>
          <%= form.label :answer %><br>
          <%= form.select :answer, options_for_select(Answer::DEFAULT_ANSWER), { prompt: true, selected: '3' }, required: true, class: 'input-field' %>
        </p>
        <%= form.label :comment %><br>
        <%= form.text_area :comment %>
        </p>
        <p>
          <%= form.submit 'Send Answer', class: 'waves-effect waves-light btn'%>
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
