<%= javascript_include_tag "audits.js" %>

<div class="card material-table">
  <div class="table-header">
    <h5>You're Audits</h5>
    <div class="actions" data-turbolinks="false">
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn teal lighten-2 modal-trigger" href="#modal1">Add new</a>
    </div>
  </div>
  <div id="dttb_wrapper" class="dataTables_wrapper no-footer">
    <table class="responsive nowrap table table-hover dataTable no-footer dtr-inline" data-sort="true" data-source="/posts.json" id="dttb" role="grid" aria-describedby="dttb_info">
      <thead>
        <tr role="row">
          <th data-data="title" class="sorting center" colspan="3" aria-label="Title: activate to sort column ascending">Checklist Name</th>
          <th data-data="date" class="sorting center" colspan="2" aria-label="Date: activate to sort column ascending">Last Updated</th>
          <th data-data="action" class="sorting center" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @audits.each do |audit| %>
        <tr class=" odd">
          <td valign="top" colspan="3" class="dataTables_empty"><b><%= link_to audit.checklist.title, checklist_audit_path(audit.checklist, audit), title: "Click to show more information" %><b></td>
          <td valign="top" colspan="2" class="dataTables_empty"><b><%= time_ago_in_words(audit.updated_at) %><b></td>
          <td valign="top" colspan="1" class="dataTables_empty"><%= link_to 'Destroy', checklist_audit_path(audit.checklist, audit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td valign="top" colspan="1" class="dataTables_empty"><%= link_to 'Edit', edit_checklist_audit_path(audit.checklist, audit) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="table-footer">
      <div class="dataTables_info" id="dttb_info" role="status" aria-live="polite">Showing <%= @audits.current_page %> to <%= @audits.current_page*10 %> of <%= @audits.total_pages %> entries</div>
      <div class="dataTables_paginate paging_full" id="dttb_paginate">
        <%= will_paginate @audits, previous_label: "Older", next_label: "Newer",  class: 'paginate_button first disabled' %>
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal col s4 open offset-s2">
  <div class="modal-content">
    <div class="table-header">
      <h5>Choose one of the checklists:</h5>
    </div>
    <div class="collection with-header">
      <%= render @checklists.published %>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn btn-flat">Cancel</a>
  </div>
</div>
