<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <h5> <%= @checklist.title %></h5>
        <p> <%= @checklist.description %></p>
        <hr />
        <% @checklist.questions.any?  do %>
        <ul class="card-body">
          <span class="card-title">Answer <%= @checklist.cout_questions %> Questions:</span>
          <%= render @checklist.questions %>
        </ul>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to 'Cancel', checklists_path, class: 'waves-effect waves-light btn  red darken-1'%>
      </div>
    </div>
  </div>
</div>
