<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content" id="audit" data-checklist="<%= @audit.id %>">
        <h4 class="center"> Audit &numero;<%= @audit.id %></h4>
        <h5>Title:
          <b><%= @checklist.title %></b>
        </h5>
        <p>Description:
          <b><%= @checklist.description %></b>
        </p>
        <hr>
        <% @checklist.questions.any? do %>
        <table class="responsive nowrap table table-hover dataTable no-footer dtr-inline centered" id="dttb" role="grid" aria-describedby="dttb_info">
          <thead>
            <tr role="row">
              <th data-data="question" class="sorting" colspan=3>Questions</th>
              <th data-data="answer" class="sorting" colspan="2">Answers</th>
            </tr>
          </thead>
          <tbody>
            <% @audit.answers.each_with_index do |answer, i| %>
            <tr class="odd question" data-checklist="<%= answer.id %>" %>
              <td valign="top" class="dataTables_empty"><%= i+1 %></td>
              <td valign="top" class="dataTables_empty"><%= @checklist.questions[i].title %></td>
              <td valign="top" class="dataTables_empty"><%= @checklist.questions[i].description %></td>
              <td valign="top" class="dataTables_empty"><%= answer.answer%></td>
              <td valign="top" class="dataTables_empty"><%= answer.comment%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to 'Edit',edit_checklist_audit_path(@audit.checklist, @audit), class: 'waves-effect waves-light btn teal lighten-2' %>
        <%= link_to 'All Audits', audits_path, class: 'waves-effect waves-light btn teal lighten-2'%>
      </div>
    </div>
  </div>
</div>
