<%= form_with(model: checklist, local: true) do |form| %>
<% if checklist.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

  <ul>
    <% checklist.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title, "Title"%>
  <%= form.text_field :title, data: { length:40 }, id: 'input_text', placeholder: "Do you create applications?"%>
</div>

<div class="field">
  <%= form.label :description%>
  <%= form.text_area :description, rows: 3, placeholder: "With JavaScript language."%>
</div>

<div class="actions">
  <%= form.submit  class: 'waves-effect waves-light btn teal lighten-2'%>
  <%= link_to 'Cancel', checklists_path, class: 'waves-effect waves-light btn red darken-1' %>
</div>
<% end %>
