<%= form_with(model: checklist, local: true) do |form| %>

<div class="field">
  <%= form.label :title, "Title"%>
  <%= form.text_field :title, data: { length:40 }, id: 'input_text', placeholder: "Junior Web Developer Test", required: true %>
</div>

<div class="field">
  <%= form.label :description%>
  <%= form.text_area :description, rows: 3, placeholder: "JavaScript technology stack", required: true %>
</div>

<div class="actions">
  <%= form.submit  class: 'waves-effect waves-light btn teal lighten-2'%>
  <%= link_to 'Cancel', checklists_path, class: 'waves-effect waves-light btn red darken-1' %>
</div>
<% end %>
