<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <h5>Title:
          <b><%= @checklist.title %></b>
        </h5>
        <p>Description:
          <b><%= @checklist.description %></b>
        </p>
        <hr />
        <% @checklist.questions.any?  do %>
        <ul class="card-body">
          <span class="card-title"> <%= @checklist.cout_questions %> Questions: </span>
          <%= render @checklist.questions %>
        </ul>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_checklist_path(@checklist), class: 'waves-effect waves-light btn teal lighten-2' %>
        <%= link_to 'Delete', @checklist, method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'waves-effect waves-light btn red darken-1' %>
        <%= link_to 'All Checklists', checklists_path, class: 'waves-effect waves-light btn teal lighten-2'%>
      </div>
    </div>
  </div>
</div>
<%= render "questions/form" %>
