<!DOCTYPE html>
<html>

<head>
  <title>ProjIDHr014</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material\Icons" rel="stylesheet">
</head>

<body>
  <%= render 'layouts/header' %>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

<%= render 'layouts/footer' %>

</body>

</html>
